<div class="ws-login">
  <img height="150" src="<%= require('assets/image/webpack-seed.png') %>" alt="webpack-seed-logo">
  <div class="ws-login-block">
    <button class="test-btn login-btn" title="点击回到w首页">webpack-seed 111345111登322ww录页面</button>
  </div>
</div>